[submodule "lib/ESPAsyncWebServer"]
	path = lib/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer.git
	branch = main
[submodule "lib/RTKBaseManager"]
	path = lib/RTKBaseManager
	url = https://github.com/audio-communication-group/RTKBaseManager.git
	branch = main
