


[submodule "lib/ESPAsyncWebServer"]
	path = lib/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer.git
	branch = master

[submodule "lib/RTKBaseManager"]
	path = lib/RTKBaseManager
	url = https://github.com/jangleboom/RTKBaseManager.git
	branch = main
